<!--
    <ul class="list-group" data-bind="foreach: pets">
        <li class="list-group-item" data-bind="text: userName"></li>
        <li class="list-group-item" data-bind="text: password"></li>
        

    </ul>
-->

<div class="container-fluid">
    <div class="form-group">
        &nbsp;
    </div>
    <p class="text-center">
        <strong>This is only avalable for admins  </strong>
        <div class="row">
            <div class="form-group">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                                        
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
    <p class="text-center">
        
            Enter username: <input data-bind="value: uname" style="width: 80px">
            Enter password: <input type="password" data-bind="value: upass" style="width: 80px">
            <button data-bind="click: check">Login</button>
        
    </p>

</div>


