<!--
    <ul class="list-group" data-bind="foreach: pets">
        <li class="list-group-item" data-bind="text: userName"></li>
        <li class="list-group-item" data-bind="text: password"></li>
        

    </ul>
-->

<div class="container-fluid">
    <div class="form-group">
        &nbsp;
    </div>
    <p class="text-center">
        <strong>What can you do after log in? Check the video:  </strong>
        
    </p>
    <p class="text-center">
      
        <small>  This is just for demonstration, if you have some specific IoT problem, please leave me a message, I will give you a solution as soon as possible.</small>
    </p>
    <p class="text-center">


        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fjey4g0OgNI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </p>       
    <p class="text-center">

        <small>Not loaded? Wait 2 minutes or refresh the page</small>
    </p>

  

    <p class="text-center">
        Powered by:
        <img src="../../../../css/images/ithink.jpg" alt="My little IoT website" style="width:200px;height:100px;">
        <img src="../../../../css/images/pi-logo.png" alt="My little IoT website2" style="width:100px;height:100px;">
    </p>
</div>

<p class="text-center">
    Enter username: <input data-bind="value: Uname" style="width: 80px">
    Enter password: <input type="password" data-bind="value: Upass" style="width: 80px">
    <button data-bind="click: check">Login</button>

</p>
