<!DOCTYPE html>

<html>
<head>

    <title>Cuong Hung Ly Tran | Web Designer, Director | name@yourdomain.com</title>
   
   
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../../../css/resume.css" media="all" />

</head>
<body>

    <div id="doc2" class="yui-t7">
        <div id="inner">
            <img src="../../../../css/images/cody1.png" width="195" height="200" />
            <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1>Cuong Hung Ly Tran</h1>
                        <h2>Electrical engineer, frontend/ backend software developer</h2>
                    </div>

                    <div class="yui-u">
                        <div class="contact-info">
                            <h3><a data-bind="click: getDetails" id="pdf" href="#">Leave a message</a></h3>
                            <h3><a href="mailto:geforcexfx@yahoo.com">geforcexfx@yahoo.com</a></h3>
                                <h3>(45) - 50131979</h3>
</div><!--// .contact-info -->
                    </div>
                </div><!--// .yui-gc -->
            </div><!--// hd -->

            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Profile</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    My education has revolved around electronics and specifically in the design, use, repair
                                    and understanding of personal computers and communications systems linking them. I
                                    am a master student in Physics and Computer Science and I have a strong interest in IoT
                                    and automation. 
                                </p>
                            </div>
                        </div><!--// .yui-gf -->


                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Skills</h2>
                            </div>
                            <div class="yui-u">
                                <ul class="talent">
                                    <li>XHTML</li>
                                    <li>CSS</li>
                                    <li class="last">Javascript</li>
                                </ul>

                                <ul class="talent">
                                    <li>Jquery</li>
                                    <li>PHP</li>
                                    <li class="last">CVS / Subversion</li>
                                </ul>

                                <ul class="talent">
                                    <li>OS X</li>
                                    <li>Windows XP/Vista</li>
                                    <li class="last">Linux</li>
                                </ul>

                                <ul class="talent">
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li class="last">C#</li>
                                </ul>

                                <ul class="talent">
                                    <li>C</li>
                                    <li>Mathlab</li>
                                    <li class="last">SQL</li>
                                </ul>

                                <ul class="talent">
                                    <li>Raspberry Pi</li>
                                    <li>Arduino</li>
                                    <li class="last">Network</li>
                                </ul>
                            </div>
                        </div><!--// .yui-gf-->

                        <div class="yui-gf">

                            <div class="yui-u first">
                                <h2>Experience</h2>
                            </div><!--// .yui-u -->

                            <div class="yui-u">

                                <div class="job">
                                    <h2>Tien Phat Trading and Services Co.Ltd</h2>
                                    <h3> Computer Technician</h3>
                                    <h4>2011 - 2012 </h4>
                                    <p>Problems encountered with personal computers can be broadly classified as fundamental
computer problems, security wireless alarm system problems, and IP-camera problems. I
have broad experience in resolving each of these as part of my routine work assignment.
In addition after I joined the company I had the task of building a team of repair
specialists and teaching newly hired members the technical details of computer repair. I
have sufficient experience to resolve almost all problems quickly and with minimum cost
to the owner of the personal computer</p>
                                </div>

                                <div class="job">
                                    <h2>Tri Tue Viet foreign language center</h2>
                                    <h3>Engish Teacher</h3>
                                    <h4>2013- 2014</h4>
                                    <p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
                                </div>

                                

                            </div><!--// .yui-u -->
                        </div><!--// .yui-gf -->

                        <div class="yui-gf">

                            <div class="yui-u first">
                                <h2>Projects</h2>
                            </div><!--// .yui-u -->

                            <div class="yui-u">

                                <div class="job">
                                    <h2> Image processing on IoT devices(Raspberry pi) vs Cloud server</h2>
                                    <h3>Oct 2017 – Jan 2018 </h3>
                                    <p>
                                        This project was done by using Raspberry pi as an IoT device which has slow processor
                                        and limited data storage. In order to improve the performance of IoT devices in general in
                                        a heavy workload situation, we should share the workload of raspberry pi to the cloud
                                        server. This project is about finding out the bottleneck of raspberry pi and network
                                        bandwidth.
                                        Please check the report 
                                        <a href="https://drive.google.com/file/d/1bUYJv9GKBAfPspZNwrOaxsZ2093GtrQ4/view" target="_blank">here.</a>
                                    
                                </div>
                                
                                <div class="job">
                                    <h2>Rawdata</h2>
                                    <h3>Sep 2016 – Jan 2017</h3>
                                   
                                    <p>Main phases of the project including (1) Database Design, (2) Backend development in
                                    C#, and the web services we will use asp.net web api, which is a framework specific for
                                    supporting restful web services interfaces. (3) Frontend development in JavaScript,
                                    Jquery, Ajax, Html, CSS.
                                    Result: This website is the result </p>
                                </div>

                                <div class="job">
                                    <h2>An Iot website for controlling devices inside the house
                                        and motion detection camera:
                                        </h2>
                                    <h3>January 2018 – February 2018</h3>

                                    <p>I use esp8266 module which connects to wifi, when it gets the commands from my web
                                        page, it will send the Infrared signal to the airpump to control the airpump. I also
                                        intergrated with the motion detection software called eyemotionOS. This project required
                                        an understanding of network architecture, C, HTML, CSS, Jquery, Javascript
                                        programming language and the usage of their libraries.
                                        Result: This website in the IoT section is the result
                                    </p>
                                </div>

                                <div class="job">
                                    <h2> LED strip following tv by taking the average of the color shown on the
                                    screen
                                    </h2>
                                    <h3>January 2018</h3>

                                    <p>
                                        This project was done by python and openCV, image processing and a little bit
                                        understand of electronic circuit
                                        Result: <a href="https://www.youtube.com/watch?v=njH3h3iVxrg&t=26s" target="_blank">here.</a>
                                    </p>
                                </div>

                                <div class="job">
                                    <h2>
                                        Arduino Robot obstacle avoidance and it can be controlled by
                                        IR remote:
                                    </h2>
                                    <h3>June 2016 – July 2016</h3>

                                    <p>
                                        This robot is basically can avoid any obstacle and find the shortest way to go, and it can
                                        be controlled by an IR remote. This required an understanding of how an microprocessor,
                                        sensors and C language work, and the communication of 2 arduino by I2C
                                        Result: <a href="https://www.youtube.com/watch?v=dbfG7RfzYeM" target="_blank">here.</a>
                                    </p>
                                </div>

                                <div class="job">
                                    <h2>
                                        EV3 dancing robot
                                    </h2>
                                    <h3>December 2016</h3>

                                    <p>
                                        This robot can follow the movements of 3 balls, This project was done in Java, this
                                        required the understand of image processing, the communication of 2 Lego EV3s
                                        Result: <a href="https://www.youtube.com/watch?v=MW0tyw9rLmA" target="_blank">here.</a>
                                    </p>
                                </div>



                            </div><!--// .yui-u -->
                        </div><!--// .yui-gf -->
                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            <div class="yui-u">
                                <h2>Hong Bang University International, Vietnam</h2>
                                <h3>Master in Physics and Computer science </h3>
                            </div>

                            
                        </div><!--// .yui-gf -->

                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2></h2>
                            </div>


                            <div class="yui-u">
                                <h2>Roskilde University, Denmark</h2>
                                <h3>Master in Physics and Computer science </h3>
                            </div>
                        </div><!--// .yui-gf -->
                            <div class="yui-gf last">
                                <div class="yui-u first">
                                    <h2></h2>
                                </div>
                                <div class="yui-u">
                                    <h2>Epitech, Paris</h2>
                                    <h3>IoT </h3>
                                </div>

                            </div><!--// .yui-gf -->


                    </div><!--// .yui-b -->
                </div><!--// yui-main -->
            </div><!--// bd -->

            <div id="ft">
                <p>Cuong Hung Ly Tran &mdash; <a href="mailto:geforcexfx@yahoo.com">geforcexfx@yahoo.com</a> &mdash; (45) - 50131979</p>
            </div><!--// footer -->

        </div><!-- // inner -->


    </div><!--// doc -->

 
            
                
    <div>
        <span {display:none; visibility:hidden;} data-bind="foreach: postDetail">
            <p data-bind="component:{name:'comment', params:{pLink: url, tit: title, body: postBody, ans: answers}}"></p>
        </span>
    </div>
</body>
</html>
